// Place all the styles related to the alarms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url("https://www.abacusmedicine.com/matrix/uploads/2018/08/blue-gradient-1024x603.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.header {
  width: 100%;
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-text {
  font: bold 20px Avenir;

  margin-left: 10px;
}

.alarm-item {
  margin: auto;
  width: 60%;
  background-color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  opacity: 0.8;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: space-around;
  font: bold 12px Avenir;
}

.alarm-item:hover {
  opacity: 1;
}

li {
  list-style-type: none;
}

.new-alarm {
  margin-right: 10px;
  font: bold 11px Avenir;
  text-decoration: none;
  background-color: #eeeeee;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
}

.new-alarm-form {
  margin-top: 25px;
  color: white;
}
